[run]
source =
    .
    services
    cmd_modules

[report]
omit =
    tests/*
    */__init__.py
    conftest.py
    setup.py
    setup_hooks.py
    src/debug/*
    src/services/otiedote_playwright_service.py
    src/services/otiedote_service.py